---

---

<div class="languages">
  <img src={`${import.meta.env.BASE_URL}images/languages.svg`} alt="Languages: Korean (Native), English (Fluent), German (Telc B1 Certificate), Chinese (Intermediate)" />
</div>

<style>
  .languages {
    width: 324px;
    margin: 0 auto;
  }

  .languages img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 1023px) {
    .languages {
      transform: scale(0.85);
      transform-origin: center top;
    }
  }

  @media (max-width: 767px) {
    .languages {
      transform: scale(0.75);
      transform-origin: center top;
      margin-bottom: -20px;
    }
  }
</style>
