---

---

<div class="hero-intro">
  <h1 class="name">HYEYOUNG<br />JESSICA SUH</h1>
  <p class="title">Design Team Lead at<br />IDEENION Automobil AG</p>
</div>

<style>
  .hero-intro {
    text-align: center;
  }

  .name {
    font-size: 70px;
    font-weight: 400;
    line-height: 1.219;
  }

  .title {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.219;
  }


  @media (max-width: 1279px) {
    .name {
      font-size: 56px;
    }
    .title {
      font-size: 26px;
    }
  }

  @media (max-width: 1023px) {
    .name {
      font-size: 48px;
    }
    .title {
      font-size: 24px;
    }
  }

  @media (max-width: 767px) {
    .name {
      font-size: clamp(32px, 9vw, 48px);
    }
    .title {
      font-size: clamp(18px, 5vw, 24px);
    }
  }
</style>
